.container {
  background: #ffffff;
  border: 1px solid #ededed;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.content-image {
  padding: 25px 28px 24px 28px;
  box-sizing: border-box;
}

.link-container {
  width: 100%;
  border-top: 1px solid #ededed;
  padding: 20px 0;
}
