.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 9px 19px 9px 14px;
}

.container-primary {
  background: #fdf6f2;
}

.container-gray {
  background: #f6f6f7;
}

.content {
}
