.button-container {
  display: flex;
  height: 64px;

  button {
    border: 0;
  }
}

.button {
  background-color: $syrup_color_primary_orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.2s ease-in-out;
  width: 100%;

  &:hover {
    background-color: #df6122;
  }

  &:disabled {
    background-color: $syrup_color_gray_gray_900;
    color: $syrup_color_gray_gray_600;
  }
}

.twoButton {
  background-color: $syrup_color_gray_gray_200;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.2s ease-in-out;
  width: 100%;

  &:hover {
    background-color: $syrup_color_gray_gray_400;
  }

  &:disabled {
    background-color: $syrup_color_gray_gray_850;
    color: $syrup_color_gray_gray_600;
  }
}
