.rounded-button {
  padding: 10px 0;
  border-radius: 20px;
  min-width: 126px;
  text-indent: 0;
  border: 0;
}

.button-block {
  display: block;
  margin: 0 auto;
}

.rounded-button--primary {
  background-color: #ff6315;
  color: #fff;
}

.rounded-button--gray {
  background-color: #fff;
  color: #d2d2d2;
  border: 1px solid #d2d2d2;
}
