.text-t100 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 3.5rem;
  font-size: 2.8rem;
  letter-spacing: -0.05rem;
}

.text-t200 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 3.3rem;
  font-size: 2.7rem;
  letter-spacing: -0.05rem;
}

.text-t300 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 3.1rem;
  font-size: 2.5rem;
  letter-spacing: -0.03rem;
}

.text-t400 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 3rem;
  font-size: 2.4rem;
  letter-spacing: -0.03rem;
}

.text-t500 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 2.9rem;
  font-size: 2.3rem;
  letter-spacing: -0.03rem;
}

.text-t600 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 2.7rem;
  font-size: 2.1rem;
  letter-spacing: -0.03rem;
}

.text-t700 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.9rem;
  letter-spacing: 0rem;
}

.text-t800 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 2.2rem;
  font-size: 1.7rem;
  letter-spacing: 0rem;
}

.text-t900 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.6rem;
  letter-spacing: 0rem;
}

.text-t1000 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 1.9rem;
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

.text-t1050 {
  font-family: Pretendard;
  font-weight: 700;
  line-height: 1.8rem;
  font-size: 1.4rem;
  letter-spacing: 0rem;
}

.text-t1100 {
  font-family: Pretendard;
  font-weight: 500;
  line-height: 2.2rem;
  font-size: 1.7rem;
  letter-spacing: -0.08rem;
}

.text-t1200 {
  font-family: Pretendard;
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.6rem;
  letter-spacing: 0rem;
}

.text-t1300 {
  font-family: Pretendard;
  font-weight: 500;
  line-height: 1.9rem;
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

.text-t1400 {
  font-family: Pretendard;
  font-weight: 400;
  line-height: 2.2rem;
  font-size: 2rem;
  letter-spacing: -0.05rem;
}

.text-b100 {
  font-family: Pretendard;
  font-weight: 400;
  line-height: 2.6rem;
  font-size: 1.7rem;
  letter-spacing: -0.09rem;
}

.text-b200 {
  font-family: Pretendard;
  font-weight: 400;
  line-height: 2.4rem;
  font-size: 1.6rem;
  letter-spacing: -0.08rem;
}

.text-b300 {
  font-family: Pretendard;
  font-weight: 400;
  line-height: 2.3rem;
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
}

.text-b400 {
  font-family: Pretendard;
  font-weight: 400;
  line-height: 2.1rem;
  font-size: 1.4rem;
  letter-spacing: -0.03rem;
}

.text-b500 {
  font-family: Pretendard;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.2rem;
  letter-spacing: 0rem;
}

.text-c100 {
  font-family: Pretendard;
  font-weight: 400;
  line-height: 1.7rem;
  font-size: 1.4rem;
  letter-spacing: -0.05rem;
}

.text-c200 {
  font-family: Pretendard;
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 1.1rem;
  letter-spacing: 0rem;
}
